<h2>Message for Road Trip Form</h2>

<p>A Fish Camp director has sent a message to you regarding your submitted road trip form (ID <b><?=$this->form->app_id_hash ?></b>).</p>

<p>The message submitted was:</p>
<blockquote>
    <?=nl2br($this->message->message_body) ?>
</blockquote>

<p>
	To view the message above and submit replies, visit this page:<br />
    <?=$this->link($this->route(array('module' => 'forms', 'controller' => 'roadtrip', 'action' => 'messages', 'id' => $this->form->app_id_hash))) ?>
</p>