<h2>Message for Road Trip Form</h2>

<p>The submitter of a road trip form (ID <b><?=$this->form->app_id_hash ?></b>) has sent a message.</p>

<p>The message submitted was:</p>
<blockquote>
    <?=nl2br($this->message->message_body) ?>
</blockquote>

<p>
	To view the message above and submit replies, visit this page:<br />
    <?=$this->link($this->route(array('module' => 'forms', 'controller' => 'roadtrip', 'action' => 'view', 'id' => $this->form->app_id_hash))) ?>
</p>