<?
$this->headTitle('TouchNet Auto-Reconciliation');
?>

<h2>Upload TouchNet Records File</h2>

<p>To generate a TouchNet records file, follow these steps:</p>
<ul>
    <li>Log in to TouchNet Production with your credentials.</li>
    <li>Visit "Marketplace Reports", then "uPay Sites", then this site's name, then click "Revenue".</li>
    <li>Set the date of the report, and set the number of records per page to very high number (i.e. 10000).</li>
    <li>Click "view", then click "Export to CSV" at the top of the page.</li>
    <li>Upload the resulting file using the field below.</li>
</ul>

<form action="<?=\DF\Url::current() ?>" enctype="multipart/form-data" method="post">
<dl>
    <dt>Select TouchNet Records File:</dt>
    <dd><input type="file" name="touchnet" /></dd>
</dl>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'submit',
        'icon'      => 'arrow_switch',
        'text'      => 'Auto-Reconcile Transactions',
    )) ?>
</div>
</form>