<?
$start_date_text = date('F j, Y', $this->start_date);
$end_date_text = date('F j, Y', $this->end_date);

if (strcmp($start_date_text, $end_date_text) == 0)
	$date_text = $start_date_text;
else
	$date_text = $start_date_text.' to '.$end_date_text;

$this->headTitle('Cumulative Finance Report - '.$date_text);
?>

<? foreach($this->report as $category_name => $category_totals): ?>
<fieldset>
	<legend><?=$category_name ?></legend>
	
	<table class="datatable zebra" width="100%">
		<colgroup>
			<col width="42%" />
			<col width="10%" />
			<col width="12%" />
			<col width="12%" />
			<col width="12%" />
			<col width="12%" />
		</colgroup>
		<thead>
			<tr>
				<th>Item Type</th>
				<th>N/A</th>
				<th>Cash</th>
				<th>Check/M.O.</th>
				<th>Credit</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
		<? foreach($category_totals as $total_id => $total_info): ?>
			<tr>
				<td align="left">
                    <?=$total_info['name'] ?>
                    <? if ($total_info['budget'] != 0): ?>
                        <br><small>Budget: <b>$<?=number_format($total_info['budget'], 2) ?></b> &bull; Remaining: <b>$<?=number_format($total_info['remaining'], 2) ?></b></small>
                    <? endif; ?>
                </td>
				<? foreach($total_info['totals'] as $total_name => $total_amount): ?>
				<td align="center">$<?=number_format($total_amount, 2) ?></td>
				<? endforeach; ?>
			</tr>
		<? endforeach; ?>
		</tbody>
	</table>
</fieldset>
<? endforeach; ?>