<?php
$this->headTitle('Appeal Form Management');
?>

<div class="tabbable">
    <ul class="nav nav-tabs">
    <? foreach($this->form_settings['phases'] as $phase_num => $phase_name): ?>
        <? if (count($this->forms_by_phase[$phase_num]) > 0): ?>
        <li><a href="#phase<?=$phase_num ?>" data-toggle="tab"><?=$phase_name ?> (<?=count($this->forms_by_phase[$phase_num]) ?>)</a></li>
        <? endif; ?>
    <? endforeach; ?>
    </ul>

    <div class="tab-content">
    <? foreach($this->form_settings['phases'] as $phase_num => $phase_name): ?>
        <div class="tab-pane" id="phase<?=$phase_num ?>">
            <h2><?=$phase_name ?></h2>

            <table class="datatable zebra" width="100%">
                <colgroup>
                    <col width="5%">
                    <col width="15%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Form ID</th>
                        <th>Name</th>
                        <th>Submitted</th>
                        <th>Updated</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach((array)$this->forms_by_phase[$phase_num] as $form): ?>
                    <tr class="input">
                        <td align="center">
                        <? if (isset($form['has_submitted_decision'])): ?>
                            <?=$this->icon(array(
                                'type'      => 'png32',
                                'image'     => ($form['has_submitted_decision']) ? 'tick' : 'cross',
                            )) ?>
                        <? else: ?>
                            &nbsp;
                        <? endif; ?>
                        </td>
                        <td align="left"><big><?=$form['password'] ?></big></td>
                        <td align="left"><?=$form['firstname'] ?> <?=$form['lastname'] ?></td>
                        <td align="center"><?=$form['created_at']->format('m/d/Y g:ia') ?></td>
                        <td align="center"><?=$form['updated_at']->format('m/d/Y g:ia') ?></td>
                        <td align="left">
                            <?=$this->button(array(
                                'type'      => 'small',
                                'icon'      => 'vcard',
                                'text'      => 'View',
                                'href'      => $this->routeFromHere(array('action' => 'view', 'id' => $form['password'])),
                            )) ?>
                            <?=$this->button(array(
                                'type'      => 'small',
                                'icon'      => 'delete',
                                'class'     => 'danger',
                                'text'      => 'Delete',
                                'href'      => $this->routeFromHere(array('action' => 'archive', 'id' => $form['password'])),
                            )) ?>
                        </td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
        </div>
    <? endforeach; ?>
    </div>
</div>