<?php
$this->headTitle('Committee Review');
?>

<h2>Request Contents</h2>
<?=$this->form->renderView() ?>

<dl>
    <dt>Grade History:</dt>
    <dd><?=nl2br($this->record->admin_data['grade_history']) ?>
</dl>

<form action="<?=\DF\Url::current() ?>" method="post">
<h2>Decision Required</h2>

<dl>
	<dt>Decision for Appeal:</dt>
    <dd><?=$this->formRadio('form[decision]', NULL, NULL, $this->form_settings['committee_decisions']) ?></dd>
    
    <dt>Comments (optional):</dt>
    <dd><textarea name="form[comments]" class="full-width half-height"></textarea></dd>
</dl>

<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'submit',
        'class'     => 'large success',
        'icon'      => 'disk',
        'text'      => 'Submit Decision',
    )) ?>
</div>
</form>