<?php
$this->headTitle('Appeal Requests');
?>

<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'asterisk_yellow',
        'class'     => 'large success',
        'href'      => $this->routeFromHere(array('action' => 'new')),
        'text'      => 'Start New Form',
    )) ?>
</div>

<h2>My Previous Requests</h2>

<table class="datatable zebra" width="100%">
	<colgroup>
    	<col width="25%" />
        <col width="25%" />
        <col width="50%" />
    </colgroup>
    <thead>
        <tr>
            <th>Access Code</th>
            <th>Date Submitted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    <? foreach((array)$this->forms as $form): ?>
    	<tr class="input">
        	<td align="center"><big><?=$form->password ?></big></td>
            <td align="center"><?=$form->created_at->format('m/d/Y g:ia') ?></td>
            <td align="left">
            <? if ($form->phase == APPEAL_PHASE_COMPLETE): ?>
                <div class="alert-message block-message inline success">
                    <b>This form has been completed. Click the button below to view the result.</b>
                    <div class="alert-actions">
                        <?=$this->button(array(
                            'type'      => 'link',
                            'icon'      => 'application_go',
                            'href'      => $this->routeFromHere(array('action' => 'results', 'id' => $form->password)),
                            'text'      => 'View Results',
                        )) ?>
                    </div
                </div>
            <? elseif ($form->phase == APPEAL_PHASE_ARCHIVED): ?>
                <div class="alert-message block-message inline info">
                    <b>This form has been archived.</b>
                </div>
            <? else: ?>
                <div class="alert-message block-message inline info">
                    <b>This form is currently under review.</b>
                </div>
            <? endif; ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>