<?php
$this->headTitle('Appeal Results');

$user = $this->record->user;
$result = $this->record->review_final;
?>

<h2>Appeal Request <?=$this->record->password ?></h2>

<p><b><?=$user->firstname ?> <?=$user->lastname ?></b></p>

<? if ($result == APPEAL_DECISION_GRANT): ?>
    <p>A committee has reviewed your appeal request and decided that an exemption should be granted.</p>
<? elseif ($result == APPEAL_DECISION_GRANT_WITH_STIPULATIONS): ?>
    <p>A committee has reviewed your appeal request and decided that an exemption should be granted, but with the following stipulations:</p>

    <blockquote>
        <?=nl2br($this->record->admin_data['stipulations']) ?>
    </blockquote>
<? elseif ($result == APPEAL_DECISION_DENY || $result == APPEAL_DECISION_DENY_EXTENUATING): ?>
    <p>A committee has reviewed your appeal request and decided that an exemption should not be granted.</p>
<? endif; ?>

<p>For more information, contact the Fish Camp organization leadership.</p>