<?php
$this->headTitle('Appeal Request: '.$this->record->password);
$this->layout()->manual = TRUE;
?>

<div class="row">
    <div class="span7">
        <div class="floating">
            <h2>Request Contents</h2>
            <?=$this->form->renderView() ?>
        </div>
    </div>
    <div class="span5">
        <div class="floating">
        <? if ($this->record->phase == APPEAL_PHASE_INITIAL): ?>
            <h2>Initial Phase</h2>
            <p>This application is still being completed by the user.</p>
        <? elseif ($this->record->phase == APPEAL_PHASE_INFO): ?>
            <h2>Information Gathering Phase</h2>
            
            <p>Before this application can be sent to the committee, additional information about the student must be entered into the system. Complete the form below to supply this information. Some information has been pre-populated from the COMPASS system.</p>

            <h3>Grade History</h3>

            <table class="datatable zebra" style="width: 250px;">
                <colgroup>
                    <col width="50%" />
                    <col width="50%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Semester</th>
                        <th>GPR</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach($this->grades as $term_name => $term_grade): ?>
                    <tr class="input">
                        <td align="left"><?=$term_name ?></td>
                        <td align="left"><?=$term_grade ?></td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>

            <p>In order to assist the committee in making an informed decision about this request, please describe the overall pattern of the student's grade history in the text box below. For example, if the student's grades have sharply increased or decreased in recent semesters, or if they have remained stable throughout the semesters, note this below.</p>

            <form action="<?=\DF\Url::current() ?>" id="frm-view" method="post">
            <dl>
                <dt>Student's Grade History Pattern:</dt>
                <dd><textarea name="form[grade_history]" class="full-width full-height"></textarea></dd>
            </dl>
            
            <div class="buttons well">
                <?=$this->button(array(
                    'type'      => 'submit',
                    'class'     => 'primary large',
                    'icon'      => 'resultset_next',
                    'text'      => 'Save and Send to Committee',
                )) ?>
            </div>
            </form>
        <? elseif ($this->record->phase == APPEAL_PHASE_COMMITTEE): ?>
        	<h2>Under Committee Review</h2>
            
            <p>This form is currently being reviewed by the committee. Below is a list of all committee members.</p>

            <dl>
            <? foreach($this->committee_members as $member): ?>
                <dd><b><? if ($member['has_made_decision']): ?>Complete<? else: ?>Incomplete<? endif; ?></b> - <?=$member['firstname'] ?> <?=$member['lastname'] ?></dd>
            <? endforeach; ?>
            </dl>
        <? elseif ($this->record->phase == APPEAL_PHASE_DECISION): ?>
            <dl>
                <dt>Grade History:</dt>
                <dd><?=nl2br($this->record->admin_data['grade_history']) ?>
            </dl>
            
            <h2>Submit Appeal Decision</h2>
            
            <p>The committee has submitted its feedback regarding this application. You can view all feedback submitted below:</p>

            <table class="datatable zebra" width="100%">
            	<colgroup>
                	<col width="25%" />
                    <col width="20%" />
                    <col width="55%" />
                </colgroup>
                <thead>
                    <tr>
                    	<th>Committee Member</th>
                        <th>Decision</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach((array)$this->record->admin_data['decisions'] as $decision): ?>
                	<tr>
                    	<td align="left"><?=$decision['name'] ?></td>
                        <td align="left"><?=$decision['decision_text'] ?></td>
                        <td align="left"><?=$decision['comments'] ?></td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>

        	<p>To send this form to its final review process, enter a decision below.</p>

            <form action="<?=\DF\Url::current() ?>" id="frm-view" method="post">
            <dl>
            	<dt>Committee Decision:</dt>
                <dd><?=$this->bootstrapFormRadio('form[decision]', NULL, NULL, $this->form_settings['decisions']) ?></dd>
                
                <dt>Stipulations (if applicable):</dt>
                <dd><textarea name="form[stipulations]" class="full-width half-height"></textarea></dd>
                
                <dt>Notes for Final Reviewer:</dt>
                <dd><textarea name="form[final_notes]" class="full-width half-height"></textarea></dd>
            </dl>
            
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'submit',
                    'icon'      => 'resultset_next',
                    'class'     => 'large primary',
                    'text'      => 'Save and Send to Final Review',
                )) ?>
            </div>
            </form>
        <? elseif ($this->record->phase == APPEAL_PHASE_FINAL): ?>
            <h2>Awaiting Final Review</h2>

            <? if ($this->acl->isAllowed('appeal form final')): ?>
                <dl>
                    <dt>Grade History:</dt>
                    <dd><?=nl2br($this->record->admin_data['grade_history']) ?>
                </dl>

                <h2>Committee Recommendations</h2>
                    
                <dl>
                    <dt>Committee Recommendation:</dt>
                    <dd><?=$this->record->admin_data['decision_text'] ?></dd>
                    
                    <dt>Stipulations (if any):</dt>
                    <dd><?=$this->record->admin_data['stipulations'] ?></dd>
                    
                    <dt>Appeal Manager Notes:</dt>
                    <dd><?=nl2br($this->record->admin_data['final_notes']) ?></dd>
                </dl>

                <form action="<?=$this->routeFromHere(array('action' => 'final')) ?>" method="get">
                    <h2>Final Decision</h2>
                        
                    <dl>
                        <dt>Your Notes:</dt>
                        <dd><textarea name="form[final_comments]" class="full-width half-height"></textarea></dd>
                        
                        <dt>Decision:</dt>
                        <dd><?=$this->bootstrapFormRadio('decision', NULL, NULL, array(
                            'decline'       => 'Decline and Return to Committee',
                            'approve'       => 'Approve Decision',
                        )) ?></dd>
                    </dl>

                    <div class="buttons well">
                        <?=$this->button(array(
                            'type'      => 'submit',
                            'icon'      => 'application_go',
                            'text'      => 'Process Request',
                            'class'     => 'large primary',
                        )) ?>
                    </div>
                </form>       
            <? else: ?>
                <p>The final reviewer of appeals is currently processing this form.</p>
            <? endif; ?>

        <? elseif ($this->record->phase == APPEAL_PHASE_COMPLETE): ?>
        	<h2>Form Complete</h2>
            
            <p>This form is complete and the user has been notified of the final decision.</p>
            
            <dl>
            	<dt>Decision:</dt>
                <dd><?=$this->form_settings['decisions'][$this->record->admin_data['decision']] ?></dd>
            
            <? if ($this->record->admin_data['stipulations']): ?>
                <dt>Stipulations:</dt>
                <dd><?=$this->record->admin_data['stipulations'] ?></dd>
            <? endif; ?>
            </dl>
        <? endif; ?>
        </div>
    </div>
</div>