<?
$this->headTitle('Search for Registrants');
$this->layout()->manual = TRUE;

$yesnoany = array(
	''		=> 'Any',
	'yes'	=> 'Yes',
	'no'	=> 'No',
);

$app_types = $this->config->fishcamp->applicant_types->toArray();

$sessions_raw = \Entity\Session::fetchAll('name');
$sessions = array('' => 'None');
foreach($sessions_raw as $session)
    $sessions[$session['name']] = $session['name'].': '.$session['date'];

$sessions['WL'] = 'WL (Waitlist)';

$camps_raw = \Entity\Camp::fetchAll('name');
$camps = array('' => 'None');
foreach($camps_raw as $camp)
	$camps[$camp['name']] = $camp['name'];

$camps['WL'] = 'WL (Waitlist)';
?>
<form action="<?=$this->routeFromHere(array('page' => NULL, 'criteria' => NULL)) ?>" class="form-stacked df-form" method="get">
<div class="row">
	<div class="span12">
		<div class="floating">
			<h2>Enter Search Criteria</h2>

			<div class="row">
				<div class="span2">
					<div class="clearfix">
						<label for="criteria[name]">Name/UIN/NetID:</label>
						<input type="text" name="criteria[name]" value="<?=$this->criteria['name'] ?>" class="full-width" />
					</div>
				</div>
				
				<div class="span2">
					<div class="clearfix">
						<label for="criteria[fc_received_payment]">Payment Received:</label>
						<?=$this->formRadio('criteria[fc_received_payment]', $this->criteria['fc_received_payment'], NULL, $yesnoany, ' ') ?>
					</div>

					<div class="clearfix">
						<label for="criteria[fc_received_papers]">Paperwork Received:</label>
						<?=$this->formRadio('criteria[fc_received_papers]', $this->criteria['fc_received_papers'], NULL, $yesnoany, ' ') ?>
					</div>

					<div class="clearfix">
						<label for="criteria[fc_assignment_override]">Assignment Locked:</label>
						<?=$this->formRadio('criteria[fc_assignment_override]', $this->criteria['fc_assignment_override'], NULL, $yesnoany, ' ') ?>
					</div>
				</div>
		        <div class="span2">
		        	<div class="clearfix">
		        		<label for="criteria[fc_app_type]">Registration Type:</label>
		        		<?=$this->formMultiCheckbox('criteria[fc_app_type]', $this->criteria['fc_app_type'], NULL, $app_types) ?>
		        	</div>
				</div>
		        <div class="span3">
		        	<div class="clearfix">
		        		<label for="criteria[fc_assigned_session]">Assigned Session:</label>
		        		<?=$this->formMultiCheckbox('criteria[fc_assigned_session]', $this->criteria['fc_assigned_session'], NULL, $sessions) ?>
		        	</div>
		        </div>
		        <div class="span2">
		        	<div class="clearfix">
		        		<label for="criteria[fc_assigned_camp]">Assigned Camp:</label>
		        		<?=$this->formMultiCheckbox('criteria[fc_assigned_camp]', $this->criteria['fc_assigned_camp'], NULL, $camps) ?>
		        	</div>
		        </div>
		    </div>
		    
			<?=$this->button(array(
				'type'		=> 'submit',
				'class'		=> 'large primary',
				'icon'		=> 'find',
				'text'		=> 'Find Users',
			)) ?>
		</div>
	</div>
</div>
</form>

<? if ($this->pager): ?>
<div class="row">
	<div class="span12">
		<div class="floating">
		<? if ($this->pager->getTotalItemCount() > 0): ?>
			<?=$this->button(array(
				'type'		=> 'small',
				'href'		=> $this->routeFromHere(array('format' => 'csv')),
				'icon'		=> 'page_white_excel',
				'text'		=> 'Export to Excel',
				'style'		=> 'float: right',
			)) ?>
			
			<h2>Search Results (<?=$this->pager->getTotalItemCount() ?> Total)</h2>
			
			<?=$this->paginate($this->pager) ?>
			
			<table class="table table-striped">
				<colgroup>
	                <col width="20%" />
					<col width="35%" />
					<col width="15%" />
					<col width="15%" />
					<col width="15%" />
				</colgroup>
				<thead>
					<tr>
	                    <th>Actions</th>
						<th>Name</th>
						<th>Applicant Type</th>
						<th>Payment</th>
						<th>Paperwork</th>
					</tr>
				</thead>
				<tbody>
				<? foreach($this->pager as $user): ?>
	                <tr class="input">
	                    <td class="center">
	                        <?=$this->button(array(
	                            'type'      => 'small',
	                            'icon'      => 'vcard',
	                            'class'		=> 'primary',
	                            'text'      => 'Profile',
	                            'href'      => $this->route(array('module' => 'registration', 'controller' => 'view', 'action' => 'index', 'id' => $user['id'])),
	                        )) ?>
	                        <?=$this->button(array(
	                            'type'      => 'small',
	                            'icon'      => 'money',
	                            'text'      => 'Ledger',
	                            'class'     => 'success',
	                            'href'      => $this->route(array('module' => 'registration', 'controller' => 'view', 'action' => 'ledger', 'id' => $user['id'])),
	                        )) ?>
	                    </td>
						<td align="left">
							<? if ($user['firstname']): ?><?=$user['firstname'] ?> <b><?=$user['lastname'] ?></b><? else: ?>No Name<? endif; ?> (<?=$user['uin'] ?>)
							<?
							$assignment = array();
							if ($user['fc_assigned_session'])
								$assignment[] = 'Session '.$user['fc_assigned_session'];
							if ($user['fc_assigned_camp'])
								$assignment[] = $user['fc_assigned_camp'];
							if ($user['fc_assigned_cabin'])
								$assignment[] = $user['fc_assigned_cabin'];
							if ($user['fc_assigned_bus'])
								$assignment[] = $user['fc_assigned_bus'];
							if ($user['fc_assignment_override'])
								$assignment[] = 'Locked';

							echo '<br><small>'.implode(', ', $assignment).'</small>';
							?>
						</td>
						<td class="center"><?=$app_types[$user['fc_app_type']] ?></td>
						<td class="center"><? if ($user['fc_received_payment'] == 1): ?>Yes<? else: ?>No<? endif; ?></td>
						<td class="center"><? if ($user['fc_received_papers'] == 1): ?>Yes<? else: ?>No<? endif; ?></td>
					</tr>
				<? endforeach; ?>
				</tbody>
			</table>
			
			<?=$this->paginate($this->pager) ?>
		<? else: ?>
			<h2>No Results Found</h2>
			<p>No results were found for your search.</p>
		<? endif; ?>
		</div>
	</div>
</div>
<? endif; ?>