<?
$this->headTitle('Critical System Error');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span12">
		<div class="floating">
			<h2>An error has occurred. Please retry your request later.</h2>
			<p>The Information Technology team has been notified. We apologize for any inconvenience.</p>
			
			<p><small>Error message: <b><?=$this->exception->getMessage() ?></b></small></p>
		</div>
	</div>
</div>