<?php
$this->headTitle('Session Change Forms');
?>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'page_white_excel',
		'class'		=> 'large primary',
		'text'		=> 'Download to Excel',
		'href'		=> $this->routeFromHere(array('action' => 'export')),
	)) ?>
</div>

<?=$this->paginate($this->pager) ?>

<table class="table table-striped">
	<colgroup>
		<col width="15%">
		<col width="20%">
		<col width="15%">
		<col width="10%">
		<col width="10%">
		<col width="30%">
	</colgroup>
	<thead>
		<tr>
			<th>Actions</th>
			<th>User</th>
			<th>Submitted</th>
			<th>From</th>
			<th>To</th>
			<th>Reason</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->pager as $record): ?>
		<tr class="input <? if ($record->is_archived): ?>disabled<? endif; ?>">
			<td>
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> ($record->is_archived) ? 'accept' : 'delete',
					'text'		=> ($record->is_archived) ? 'Unarchive' : 'Archive',
					'class'		=> ($record->is_archived) ? 'success' : 'danger',
					'href'		=> $this->routeFromHere(array('action' => 'toggle', 'id' => $record->id)),
				)) ?>
			</td>
			<td><a href="<?=$this->route(array('module' => 'registration', 'controller' => 'view', 'id' => $record->user->id)) ?>" target="_blank"><?=$record->user->firstname ?> <?=$record->user->lastname ?></a></td>
			<td><?=date('m/d/Y g:ia', $record->timestamp) ?></td>
			<td><?=$record->old_sessions ?></td>
			<td><?=$record->new_sessions ?></td>
			<td><?=nl2br($record->reason) ?></td>
		</tr>
	<? endforeach; ?>
</table>

<?=$this->paginate($this->pager) ?>