<?
$this->headTitle($this->category_name);
?>

<? if ($this->calendar['prev_page_datecode']): ?>
	<?=$this->button(array(
		'type'		=> 'small',
		'icon'		=> 'resultset_previous',
		'text'		=> $this->calendar['prev_page_text'],
		'style'		=> 'float: left',
		'href'		=> $this->routeFromHere(array('month' => $this->calendar['prev_page_datecode'])),
	)) ?>
<? endif; ?>
<? if ($this->calendar['next_page_datecode']): ?>
	<?=$this->button(array(
		'type'		=> 'small',
		'icon'		=> 'resultset_next',
		'text'		=> $this->calendar['next_page_text'],
		'style'		=> 'float: right',
		'href'		=> $this->routeFromHere(array('month' => $this->calendar['next_page_datecode'])),
	)) ?>
<? endif; ?>
<h2 style="text-align: center"><?=$this->calendar['current_page_text'] ?></h2>

<? $this->zebra('reset'); ?>    
<table class="datatable" width="100%">
	<colgroup>
		<col width="15%" />
		<col width="14%" />
		<col width="14%" />
		<col width="14%" />
		<col width="14%" />
		<col width="14%" />
		<col width="15%" />
	</colgroup>
    <tr>
        <th align="center">Sunday</th>
        <th align="center">Monday</th>
        <th align="center">Tuesday</th>
        <th align="center">Wednesday</th>
        <th align="center">Thursday</th>
        <th align="center">Friday</th>
        <th align="center">Saturday</th>
    </tr>
    <? foreach($this->calendar['days'] as $calendar_row): ?>
    <tr class="<?=$this->zebra() ?> nopad">
		<? foreach($calendar_row as $calendar_day): ?>
        <td style="vertical-align: top; height: 100px;" <? if ($calendar_day['disabled']): ?>class="disabled"<? endif; ?>>
            <big><?=$calendar_day['day'] ?></big><br />
            <? foreach((array)$calendar_day['records'] as $record): ?>
				<div title="Click for More Information" style="padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px dashed #CCC; cursor: pointer;" class="btn_show_details" rel="<?=$record['id'] ?>">
					<?=$record['type']['name'] ?>
                    <? if ($record['subtype']): ?>
                        <br><small><?=$record['subtype'] ?></small>
                    <? endif; ?>
				</div>
            <? endforeach; ?>
        </td>
        <? endforeach; ?>
    </tr>
    <? endforeach; ?>
</table>

<div id="dialog_details">
	<div id="dialog_details_inner"></div>
</div>

<script type="text/javascript">
$(function() {
	$('#dialog_details').dialog({
		'title':		'Event Detail',
		'modal':		true,
		'autoOpen':		false,
		'width':		500,
		'height':		400
	});
	
	$('.btn_show_details').click(function(e) {
		var entry_id = $(this).attr('rel');
        
        $.get('<?=$this->routeFromHere(array('action' => 'detail')) ?>', {
			id: entry_id
		}, function(data) {
            $('#dialog_details_inner').html(data);
            $('#dialog_details').dialog('open');
			initPage($('#dialog_details'));
		});
        
        e.preventDefault();
		return false;
	});
});
</script>