<ul class="autotab autoselect" rel="<?=$this->session_name ?>">
<? foreach($this->sessions as $session_name): ?>
    <li rel="<?=$session_name ?>"><a href="<?=$this->routeFromHere(array('session' => $session_name)) ?>"><?=$session_name ?></a></li>
<? endforeach; ?>
</ul>