<?
$this->headTitle('Session Status');
?>

<? if ($this->is_mobile): ?>
    <? $this->placeholder('footer')->captureStart(); ?>
    <? foreach($this->sessions as $session_name): ?>
        <a href="<?=$this->routeFromHere(array('session' => $session_name)) ?>" data-role="button" <? if ($this->session_name == $session_name): ?>class="ui-btn-active"<? endif; ?>><?=$session_name ?></a>
    <? endforeach; ?>
    <? $this->placeholder('footer')->captureEnd(); ?>
<? endif; ?>

<h2>Session <?=$this->session_name ?></h2>

<h3>Status by Location</h3>

<dl>
<? foreach($this->data_by_location as $location_name => $count): ?>
    <dt><?=ucfirst($location_name) ?>:</dt>
    <dd><?=count($count) ?></dd>
<? endforeach; ?>
    
    <dt>Not Checked In:</dt>
    <dd><?=$this->no_show_campers_num ?></dd>
</ul>

<h3>Session No-Shows</h3>

<? if (!$this->is_mobile): ?>
    <div class="buttons">
        <?=$this->button(array(
            'type'      => 'link',
            'icon'      => 'page_white_excel',
            'text'      => 'Download to Excel',
            'href'      => $this->routeFromHere(array('format' => 'csv')),
        )) ?>
    </div>
<? endif; ?>

<? if ($this->no_show_campers_num < 500): ?>
    <ul>
    <? foreach($this->no_show_campers as $camper): ?>
        <li><b><?=$camper['lastname'] ?>, <?=$camper['firstname'] ?></b> (<?=$camper['uin'] ?>)</li>
    <? endforeach; ?>
    </ul>
<? else: ?>
    <p>More than 500 students are currently listed as no-shows; this list has been hidden for rendering speed.</p>
<? endif; ?>