<?
use \Entity\Settings;
?>

<h2><?=$this->subject ?></h2>

<p>Howdy,</p>

<? if ($this->decision == 'Approve (Full)'): ?>

	<p>After processing your cancellation request, we would like to inform you that you will be receiving a refund of $<? echo number_format(Settings::getSetting('registration_'.FC_TYPE_FRESHMAN.'_due', 0), 2); ?>. This is your full dues payment, minus a $0.40 transaction fee. This refund will be applied to the credit card you originally used and should appear on your account within a few days.</p>

<? elseif ($this->decision == 'Approve (Partial)'): ?>

	<p>After processing your cancellation request, we would like to inform you that you will be receiving a partial refund of <?=$this->decision_amount ?>. This refund will be applied to the credit card you originally used and should appear on your account within a few days.</p>

<? else: ?>

	<p>After processing your cancellation request, we regret to inform you that you will not be receiving a refund. The last date to submit a cancellation request was <?=date('F j, Y', Settings::getSetting('refund_close_date', 0)) ?>. All cancellation requests received after this date cannot be processed.</p>

<? endif; ?>

<p>Should you have any questions, please feel free to email <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?> or call the Fish Camp office at 979-845-1627.</p>

<p>Thanks and Gig 'em,<br>Fish Camp Director Staff <?=\Entity\Settings::getSetting('camp_year', date('Y')) ?></p>