<?
$this->headTitle('Accounting Management');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span4">
		<div class="floating">
			<h2>View User Ledgers</h2>
			
			<p>You can view the financial transaction history of any user by searching for them in the registration management system.</p>
			
			<p>Click the button below to visit the registration search.</p>
			
			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'find',
					'class'		=> 'large primary',
					'text'		=> 'Registration Search',
					'href'		=> $this->route(array('module' => 'registration', 'controller' => 'search', 'action' => 'index', 'view' => 'accounting')),
				)) ?>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h2>Reports</h2>
			
			<p>View and generate reports of financial data in the Fish Camp system.</p>
			
			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'link',
					'class'		=> 'large primary',
					'icon'		=> 'page_white_excel',
					'text'		=> 'Report Builder',
					'href'		=> $this->routeFromHere(array('controller' => 'reports')),
				)) ?>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h2>Reconciliation</h2>
			
			<p>View the daily live data feed submitted to FAMIS for review, including the account split.</p>
			
			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'link',
					'class'		=> 'large primary',
					'icon'		=> 'money',
					'text'		=> 'Cumulative Finances',
					'href'		=> $this->routeFromHere(array('controller' => 'reconciliation')),
				)) ?>
			</div>
		</div>
	</div>
</div>