<h2><?=$this->subject ?></h2>

<p>An Appeal Request has been submitted and requires additional information before it can be reviewed by the committee.</p>

<p>
	To manage this request, click the link below:<br>
    <?=$this->link($this->route(array('module' => 'forms', 'controller' => 'appeals', 'action' => 'view', 'id' => $this->record->password))) ?>
</p>

