<h2><?=$this->subject ?></h2>

<p>The review committee has submitted their decisions regarding a GPR appeal application.</p>

<p>
	To manage this request, click the link below:<br>
    <?=$this->link($this->route(array('module' => 'forms', 'controller' => 'appeals', 'action' => 'view', 'id' => $this->record->password))) ?>
</p>

