<?
$this->headTitle('Online Registration');
$user = $this->auth->getLoggedInUser();
?>

<h2>Login Reminder</h2>
<div class="alert-message block-message info">
	<h4><b>You are currently logged in as <?=$user->firstname ?> <?=$user->lastname ?> (<?=$user->uin ?>).</b></h4>
	<p>If this is not you, please <a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'logout')) ?>">log out</a> and log back in.</p>
</div>

<h2>Registration Form</h2>
<?=$this->form->render() ?>