<?
$this->headTitle('Pay Registration Fees');
?>

<p><b>Please read the following information carefully.</b></p>
<p>Using a credit card will charge a processing fee of <?=$this->money($this->registration_service_charge) ?> in addition to your payment upon successful transaction completion. This fee is NON-REFUNDABLE.</p>

<!-- 
<p>Please note that any checks returned for non-sufficient funds will incur a charge of $35.00 in addition to the payment amount on the check, resulting in a total of $205.00 for checks returned for full registration fee payments, and a total of $120.00 for checks returned for half registration fee payments.</p>
-->

<p>The fee to attend Fish Camp is <?=$this->money($this->registration_fee) ?> plus the processing fee, for a total of <?=$this->money($this->total_amount) ?>.</p>

<div style="text-align: center;">
	<img src="<?=\DF\Url::content('credit_card_logos.gif') ?>" alt="AmEx, Discover, Mastercard and Visa Accepted" />
</div>

<p>Currently American Express, Discover, Mastercard, and Visa cards are accepted.</p>
<p>By clicking the 'Proceed with payment' button below, I have read and agreed to the above information.</p>

<form action="<?=$this->upay['url'] ?>" method="post">
<? foreach($this->upay['fields'] as $field_name => $field_value): ?>
	<input type="hidden" name="<?=$field_name ?>" value="<?=$field_value ?>" />
<? endforeach; ?>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'negative',
		'icon'		=> 'cross',
		'text'		=> 'Cancel',
		'href'		=> $this->routeFromHere(array('action' => 'index')),
	)) ?>
    <?=$this->button(array(
		'type'		=> 'submit',
		'class'		=> 'positive',
		'icon'		=> 'resultset_next',
		'text'		=> 'Proceed with Payment',
	)) ?>
</div>
</form>