<?
$this->headTitle('Select Registration Type');

$open_types = array();
$closed_types = array();
foreach($this->registration_types as $type_code => $type_name)
{
	$status = \FCO\Registration::getStatus($type_code);

	if ($status == FC_STATUS_OPEN)
		$open_types[$type_code] = $type_name;
	else
		$closed_types[$type_code] = $type_name;
}
?>

<? if (count($open_types) > 0): ?>
	<h2>Registration Currently Open</h2>

	<? foreach($open_types as $type_code => $type_name): ?>
		<h3><?=$type_name ?></h3>
		<p><b><?=$type_name ?> is now open!</b> Click the button below to begin registration.</p>

		<div class="buttons">
			<?=$this->button(array(
				'type'		=> 'link',
				'icon'		=> 'resultset_next',
				'class'		=> 'primary large',
				'href'		=> $this->routeFromHere(array('action' => 'index', 'type' => $type_code)),
				'text'		=> 'Begin '.$type_name,
			)) ?>
		</div>
	<? endforeach; ?>
<? endif; ?>

<? if (count($closed_types) > 0): ?>
	<h2>Closed Registration Types</h2>

	<? foreach($closed_types as $type_code => $type_name): ?>
		<h3><?=$type_name ?></h3>
		<p>This registration type is open from <?=\FCO\Registration::getDateRangeText($type_code) ?>.</p>
	<? endforeach; ?>
<? endif; ?>