<?
use \Entity\AltPaymentRequest;

$this->headTitle('Review Alternate Payment Request');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span8">
		<div class="floating">
			<h2>Form Details</h2>

			<dl>
				<dt>Submitted By:</dt>
				<dd><a href="<?=$this->route(array('module' => 'registration', 'controller' => 'view', 'action' => 'index', 'id' => $this->record->user->id)) ?>" target="_blank" title="Click to View User Profile"><?=$this->record['user']['firstname'] ?> <?=$this->record['user']['lastname'] ?></a> (<?=$this->record['user']['uin'] ?>)</dd>
			</dl>

			<?=$this->form->renderView() ?>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
		<? if (!$this->can_modify): ?>
			<h2>Approval Details</h2>

			<? if ($this->record->request_type == 'installment'): ?>
				<p>The user requested to pay with an installment plan; all requests of this type are automatically approved by the system.</p>
			<? else: ?>
				<dl>
					<dt>Decision:</dt>
					<dd><?=$this->record->approval_type_name ?></dd>

					<dt>Scholarship Type:</dt>
					<dd><?=$this->record->scholarship ?></dd>
				</dl>
			<? endif; ?>
		<? else: ?>
			<h2>Process Request</h2>
			
			<? if ($this->record->status == AltPaymentRequest::STATUS_PENDING_DIRECTOR): ?>
				<p>This request requires review by the Fish Camp director staff before it can continue.</p>
				<p>Enter the final decision of the directors using the form below.</p>

				<form action="<?=$this->routeFromHere(array('action' => 'process')) ?>" class="df-form form-stacked" method="post">
				<? if ($this->record->request_type == "scholarship"): ?>
					<div class="clearfix">
						<label for="approval_type">Scholarship Decision:</label>
						<?=$this->formRadio('approval_type', NULL, NULL, array(
							2		=> 'Approve - Full',
							1		=> 'Approve - Partial',
							0		=> 'Decline',
						)) ?>
					</div>
					<div class="clearfix">
						<label for="scholarship">Type of Scholarship:</label>
						<?=$this->formRadio('scholarship', NULL, NULL, $this->scholarship_types) ?>
					</div>
				<? else: ?>
					<div class="clearfix">
						<label for="approval_type">Partial Payment Decision:</label>
						<?=$this->formRadio('approval_type', NULL, NULL, array(
							2		=> 'Approve',
							0		=> 'Decline',
						)) ?>
					</div>
				<? endif; ?>

				<div class="buttons">
					<?=$this->button(array(
						'type'		=> 'submit',
						'icon'		=> 'resultset_next',
						'text'		=> 'Process Request',
					)) ?>
				</div>
				</form>
			<? elseif ($this->record->status == AltPaymentRequest::STATUS_PENDING_ADVISOR): ?>
				<p>The Fish Camp directors have reviewed this request and made a decision. Please review their decision below and choose how the request should proceed.</p>

				<dl>
					<dt>Decision:</dt>
					<dd><?=$this->record->approval_type_name ?></dd>

				<? if ($this->record->scholarship): ?>
					<dt>Scholarship Type:</dt>
					<dd><?=$this->record->scholarship ?></dd>
				<? endif; ?>
				</dl>

				<div class="buttons">
					<?=$this->button(array(
						'type'		=> 'link',
						'icon'		=> 'tick', 
						'class'		=> 'success',
						'text'		=> 'Approve',
						'href'		=> $this->routeFromHere(array('action' => 'process', 'decision' => 'approve')),
					)) ?>
					<?=$this->button(array(
						'type'		=> 'link',
						'icon'		=> 'cross', 
						'class'		=> 'danger confirm-action',
						'text'		=> 'Decline',
						'href'		=> $this->routeFromHere(array('action' => 'process', 'decision' => 'decline')),
					)) ?>
				</div>
			<? elseif ($this->record->status == AltPaymentRequest::STATUS_PENDING_ACCOUNTING): ?>
				<p>This request has been approved by both the Fish Camp directors and advisor, and is ready to be processed in the system.</p>

				<? if ($this->record->request_type == 'installment'): ?>
					<p>This request is for an installment plan. All installment plan requests are automatically approved.</p>
				<? else: ?>
					<dl>
						<dt>Decision:</dt>
						<dd><?=$this->record->approval_type_name ?></dd>

					<? if ($this->record->scholarship): ?>
						<dt>Scholarship Type:</dt>
						<dd><?=$this->record->scholarship ?></dd>
					<? endif; ?>
					</dl>
				<? endif; ?>

				<p>To visit this user's ledger, click the button below.</p>

				<div class="buttons">
					<?=$this->button(array(
						'type'		=> 'link',
						'icon'		=> 'money',
						'text'		=> 'Ledger',
						'target'	=> '_blank',
						'href'		=> $this->route(array('module' => 'registration', 'controller' => 'view', 'action' => 'ledger', 'id' => $this->record->user->id)),
					)) ?>
				</div>

				<p>When the request has been processed, you can archive the form by clicking the button below.</p>

				<div class="buttons">
					<?=$this->button(array(
						'type'		=> 'link',
						'icon'		=> 'delete',
						'class'		=> 'danger confirm-delete',
						'text'		=> 'Archive',
						'href'		=> $this->routeFromHere(array('action' => 'archive')),
					)) ?>
				</div>
			<? else: ?>
				<p>This request has been archived. No further action is required.</p>
			<? endif; ?>
		<? endif; ?>
		</div>
	</div>
</div>