<?php
$this->headTitle('Manage Counselect');
?>

<h2>Report by Camp</h2>

<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'arrow_refresh',
        'class'     => 'primary confirm-action',
        'text'      => 'Assign (Normal)',
        'href'      => $this->routeFromHere(array('action' => 'assign')),
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'arrow_refresh',
        'class'     => 'warning confirm-action',
        'text'      => 'Assign (Overflow)',
        'href'      => $this->routeFromHere(array('action' => 'assign', 'mode' => 'overflow')),
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'page_white_excel',
        'text'      => 'Download All Selected (CSV)',
        'href'      => $this->routeFromHere(array('action' => 'export')),
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => ($this->is_open) ? 'lock' : 'lock_break',
        'text'      => ($this->is_open) ? 'Lock Changes' : 'Unlock Changes',
        'href'      => $this->routeFromHere(array('action' => 'toggle', 'flag' => 'unlocked')),
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => ($this->is_results_view) ? 'book' : 'book_open',
        'text'      => ($this->is_results_view) ? 'Hide Results' : 'Show Results',
        'href'      => $this->routeFromHere(array('action' => 'toggle', 'flag' => 'results_view')),
    )) ?>
</div>

<div class="row">
<? foreach($this->report as $session_name => $camps): ?>
    <div class="span1">
        <h3><?=$session_name ?></h3>
        <table class="datatable zebra">
            <tbody>
            <? foreach($camps as $camp_name => $camp_info): ?>
                <tr class="<? if ($camp_info['is_complete']): ?>green<? else: ?>red<? endif; ?>">
                    <td align="left">
                        <big><a href="<?=$this->routeFromHere(array('controller' => 'index', 'action' => 'index', 'session' => $session_name, 'camp' => $camp_name)) ?>" target="_blank"><?=$camp_name ?></a></big><br>
                        <small>
                            <?=(int)$camp_info['assigned'] ?> Sel<br>
                            <?=(int)$camp_info['total'] ?> Total
                        </small>
                    </td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
<? endforeach; ?>
</div>