<?
$this->headTitle('Counselect Live');
$this->layout()->manual = TRUE;

$this->headScript()->appendFile(\DF\Url::content('jquery/addons/date.js'));
echo $this->pubNub();
$this->panel = 'chair';

$user = $this->auth->getLoggedInUser();
$session = $this->session;
$camp = $this->camp;

$code = $session->name.' '.$camp->name;
?>

<div class="row">
	<div class="span8">
		<div class="floating">
			<h2>Your Profile</h2>

			<p>You are currently logged in as <b><?=$user->firstname ?> <?=$user->lastname ?></b> (<?=$user->uin ?>). If this is not you, please log out from the menu above. Your profile is currently representing:</p>

			<h3>Session <?=$session->name ?> <?=$camp->name ?></h3>
		</div>

		<div class="floating">
			<div id="panel_intro" class="counselect_panel">
				<h2>Waiting for a Selection...</h2>
				<p>The director has not selected an applicant yet. This area will update when an option is available.</p>
			</div>
			<div id="panel_preference" class="counselect_panel">
				<h2>Enter Preference</h2>

				<p>The following applicant is now up for preferencing:</p>

				<h3 class="label_assigned_student">Student Name</h3>

				<div id="alert_precounselect" class="alert alert-success">
					<b>You ranked this applicant #<span id="precounselect_pref">0</span> in Pre-Counselect.</b>
				</div>
				<div id="alert_precounselect_none" class="alert alert-danger">
					<b>You did not rank this applicant in Pre-Counselect.</b>
				</div>

				<p>Indicate your preference below.</p>

				<div class="buttons well">
					<?=$this->button(array(
						'id'		=> 'btn_preference_yes',
						'type'		=> 'button',
						'text'		=> 'Ping for Applicant',
						'class' 	=> 'large success',
					)) ?>
					<?=$this->button(array(
						'id'		=> 'btn_preference_no',
						'type'		=> 'button',
						'text'		=> 'Ignore Applicant',
						'class' 	=> 'large danger',
					)) ?>
				</div>
			</div>
			<div id="panel_pending" class="counselect_panel">
				<h2>Pending Assignment</h2>

				<p>The following applicant is now up for preferencing:</p>

				<h3 class="label_assigned_student">Student Name</h3>

				<p>You have submitted your preference. When assignment is completed, the results will appear in this window.</p>
			</div>
			<div id="panel_results" class="counselect_panel">
				<h2>Assignment Results</h2>

				<p>The following applicant has been assigned to a camp:</p>

				<h3 class="label_assigned_student">Student Name</h3>

				<div id="alert_applicant" class="alert alert-info">
					<b>This applicant was assigned to <span id="assigned_camp">(Session Camp)</span>.</b>
				</div>

				<p>The next applicant will appear in this space shortly.</p>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h2>My Assigned Counselors</h2>

			<div style="height: 200px; overflow-y: scroll;">
				<table id="assigned" class="datatable zebra" width="100%">
					<tbody>
					<? foreach($this->counselors as $counselor): ?>
						<tr class="input counselor_row" rel="<?=$counselor['lastname'] ?>, <?=$counselor['firstname'] ?> (<?=$counselor['uin'] ?>)" <? if ($code != ($counselor['fc_assigned_session'].' '.$counselor['fc_assigned_camp'])): ?>style="display: none;"<? endif; ?>>
							<td align="left"><div><big><?=$counselor['lastname'] ?>, <?=$counselor['firstname'] ?></big></div></td>
						</tr>
					<? endforeach; ?>
					</tbody>
				</table>
			</div>
		</div>
		<div class="floating">
			<h2>Master List</h2>

			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'button',
					'id'		=> 'btn_select_males',
					'class'		=> 'small primary',
					'text'		=> 'Males',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'button',
					'id'		=> 'btn_select_females',
					'class'		=> 'small primary',
					'text'		=> 'Females',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'button',
					'id'		=> 'btn_select_all',
					'class'		=> 'small primary',
					'text'		=> 'All',
				)) ?>
			</div>

			<div id="counselor_list_div" style="position: relative; height: 400px; overflow-y: scroll;">
				<table id="counselor_list" class="datatable zebra" width="100%">
					<tbody>
					<? foreach($this->counselors as $counselor): ?>
						<tr class="input counselor_row <? if ($counselor['gender'] == 'M'): ?>male<? else: ?>female<? endif; ?> <? if ($counselor['fc_assigned_session']): ?>blue<? endif; ?>" rel="<?=$counselor['lastname'] ?>, <?=$counselor['firstname'] ?> (<?=$counselor['uin'] ?>)">
							<td align="left"><div><big><?=$counselor['lastname'] ?>, <?=$counselor['firstname'] ?></big></div></td>
						</tr>
					<? endforeach; ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var code = '<?=$code ?>';
var counselect = <?=$this->prefs ?>;

$(function() {
	$('.counselect_panel').hide();
	$('#panel_intro').show();

	/* Pull a recent history of messages. */
	$.PUBNUB.history({
	    channel: 'counselect_main',
	    limit: 100
	}, function(rows) {
		$.each(rows, function(key, row) {
			processData(row);
		});
	} );
	
	/* Handle receiving new messages. */
	$.PUBNUB.subscribe({
		channel: 'counselect_main'
	}, function(row) {
		processData(row);
	});

	/* Handle clicking the ping/ignore buttons */
	$('#btn_preference_yes').click(function(e) {
		e.preventDefault();
		submitPreference(true);
	});
	$('#btn_preference_no').click(function(e) {
		e.preventDefault();
		submitPreference(false);
	});

	/* Select Males/Females */
	$('#btn_select_all').click(function(e) {
		e.preventDefault();
		$('#counselor_list tr.male').show();
		$('#counselor_list tr.female').show();
	});
	$('#btn_select_males').click(function(e) {
		e.preventDefault();
		$('#counselor_list tr.male').show();
		$('#counselor_list tr.female').hide();
	});
	$('#btn_select_females').click(function(e) {
		e.preventDefault();
		$('#counselor_list tr.male').hide();
		$('#counselor_list tr.female').show();
	});
});

/* Submit preference to messaging system. */
function submitPreference(status)
{
	$.PUBNUB.publish({
		channel: 'counselect_main',
		message: {
			'type': 'preference',
			'origin': code,
			'status': status
		}
	});

	$('.counselect_panel').hide();
	$('#panel_pending').show();
}

/* Process a messaging system update. */
function processData(row)
{
	if (row.type == "reset")
	{
		$('.counselect_panel').hide();
		$('#panel_intro').show();
	}
	else if (row.type == "initial")
	{
		var name = row.name;

		if (counselect.hasOwnProperty(name))
		{
			var pref = counselect[name];

			$('#precounselect_pref').text(pref);
			$('#alert_precounselect').show();
			$('#alert_precounselect_none').hide();
		}
		else
		{
			$('#precounselect_pref').text(0);
			$('#alert_precounselect').hide();
			$('#alert_precounselect_none').show();
		}

		$('.label_assigned_student').text(name);
		$('.counselect_panel').hide();
		$('#panel_preference').show();

		var list_row = $('#counselor_list tr[rel="'+name+'"]');
		if (list_row.length > 0)
		{			
			$('#counselor_list_div').animate({
				scrollTop: $('#counselor_list_div').scrollTop()+list_row.position().top
			}, 2000);
		}
	}
	else if (row.type == "result")
	{
		$('.label_assigned_student').text(row.name);
		$('#assigned_camp').text(row.assigned_to);

		if (row.assigned_to == code)
			$('#assigned tr[rel="'+row.name+'"]').show();
		else
			$('#assigned tr[rel="'+row.name+'"]').hide();

		$('#counselor_list tr[rel="'+row.name+'"]').addClass('blue');

		$('.counselect_panel').hide();
		$('#panel_results').show();
	}
}
</script>