<h2>Online Registration Incomplete</h2>

<p>Thank you for your interest in Fish Camp! Our records currently show your registration as incomplete. Before you can be assigned into a camp, your registration must be completed.</p>

<p>
	You can view the status of your registration and access additional information at any time by visiting the address below:<br />
    <?=$this->link(\DF\Url::baseUrl()) ?>
</p>

<p>If you have any questions, please contact us at 979-845-1627 or <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?>. Welcome to the Aggie Family and we look forward to meeting you at Fish Camp!</p>

<p>
	Thanks and Gig'em,<br />
    Fish Camp Director Staff
</p>