<h2>Online Registration Requires Payment</h2>

<p>Thank you for your interest in Fish Camp! Our records show that you have submitted your registration, but have not yet submitted payment. Before you can be assigned to a session, we must receive payment for Fish Camp. This payment should be received my Wednesday, July 6, 2011.</p>

<p>
    To view payment options and submit online payment, visit this address:<br />
    <?=$this->link($this->route(array('module' => 'registration', 'controller' => 'index', 'action' => 'index'))) ?>
</p>

<p>If you have already mailed in payment, or you have submitted an alternate payment method (scholarship or installment plan), you may disregard this message.</p>

<p>If you have any questions, please contact us at 979-845-1627 or <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?>. Welcome to the Aggie Family and we look forward to meeting you at Fish Camp!</p>

<p>
	Thanks and Gig'em,<br />
    Fish Camp Director Staff
</p>