<h2>Session Confirmation</h2>

<p>Student Name: <b><?=$this->student['firstname'] ?> <?=$this->student['lastname'] ?> (XXX-XX-<?=substr($this->student['uin'], -4) ?>)</b></p>

<?=$this->renderCommon('sessionconfirmation', array('session' => $this->student['fc_assigned_session'])) ?>

<p>
    Thank you,<br>
    Fish Camp 2012 Director Staff
</p>