<?
$this->headTitle($this->category);
?>

<div class="buttons well">
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'positive',
        'icon'      => 'add',
        'href'      => $this->routeFromHere(array('action' => 'edit')),
        'text'      => 'Create New Event',
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'pencil',
        'href'      => $this->routeFromHere(array('action' => 'edittype')),
        'text'      => 'Edit Event Type',
    )) ?>
</div>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra">
    <colgroup>
        <col width="30%" />
        <col width="20%" />
        <col width="40%" />
        <col width="10%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Date</th>
            <th>Title</th>
            <th>Attendees</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pager as $event): ?>
        <tr class="input">
            <td align="center">
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'pencil',
                    'text'      => 'Edit',
                    'href'      => $this->routeFromHere(array('action' => 'edit', 'id' => $event['id'])),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'delete',
                    'text'      => 'Delete',
                    'class'     => 'negative confirm-action',
                    'href'      => $this->routeFromHere(array('action' => 'delete', 'id' => $event['id'])),
                )) ?>
                <?=$this->button(array(
                    'type'      => 'small',
                    'icon'      => 'group',
                    'text'      => 'Attendees',
                    'href'      => $this->routeFromHere(array('action' => 'attendees', 'id' => $event['id'])),
                )) ?>
            </td>
            <td align="center"><?=$event->getDateText(2) ?></td>
            <td align="left"><?=$event->getTitle() ?></td>
            <td align="center"><?=$event->getAttendanceText() ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>