<?
$this->headTitle('Amounts for Type: '.$this->lit->name);
?>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'href'		=> $this->routeFromHere(array('action' => 'index', 'id' => NULL)),
		'icon'		=> 'resultset_previous',
		'text'		=> 'Back to Ledger Types',
	)) ?>
</div>

<fieldset>
    <legend>Current Amounts</legend>

    <? if ($this->lit->amounts->count() > 0): ?>
    <table class="datatable zebra" width="100%">
        <colgroup>
            <col width="15%" />
            <col width="15%" />
            <col width="70%" />
        </colgroup>
        <thead>
            <tr>
                <th>Actions</th>
                <th>Amount</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        <? foreach($this->lit->amounts as $amount): ?>
            <tr>
                <td align="center">
                    <?=$this->button(array(
                        'type' => 'small',
                        'icon' => 'delete',
                        'class' => 'negative confirm-action',
                        'href' => $this->routeFromHere(array('action' => 'deleteamount', 'amount_id' => $amount['id'])),
                        'text' => 'Delete',
                    )) ?>
                </td>
                <td align="right">
                    $<?=number_format($amount['amount'], 2) ?>
                </td>
                <td align="left"><?=$amount['name'] ?></td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
    <? else: ?>
    <p>There are no amounts listed.</p>
    <? endif; ?>
</fieldset>

<form action="<?=$this->routeFromHere(array('action' => 'addamount')) ?>" method="post">
<fieldset>
    <legend>Add New Amount</legend>
    
    <dl>
        <dt>Name:</dt>
        <dd><input type="text" name="name" class="half-width" /></dd>
        
        <dt>Amount:</dt>
        <dd><input type="text" name="amount" class="" /></dd>
        <dd class="info">Do not include dollar signs or commas.</dd>
    </dl>
    
    <div class="buttons">
        <?=$this->button(array(
            'type' => 'submit',
            'icon' => 'add',
            'text' => 'Add Amount',
        )) ?>
    </div>
</fieldset>
</form>