<?
$this->headTitle('Bus Information');
?>

<div class="tabbable">
	<ul class="nav nav-tabs">
    <? foreach($this->sessions as $session_name => $session_info): ?>
        <li><a data-toggle="tab" href="#sess_<?=$session_name ?>"><?=$session_name ?></a></li>
    <? endforeach; ?>
    </ul>

    <div class="tab-content">
    <? foreach($this->bus_info as $session_name => $bus_data): ?>
        <div class="tab-pane" id="sess_<?=$session_name ?>">
            <table class="datatable zebra" width="100%">
                <colgroup>
                    <col width="15%" />
                    <col width="20%" />
                    <col width="65%" />
                </colgroup>
                <tbody>
                <? foreach($bus_data as $bus_number => $bus_info): ?>
                    <tr class="input">
                        <td align="center"><big><?=$bus_number ?></big></td>
                        <td align="center"><?=$bus_info['total'] ?></td>
                        <td align="left">
                            <table class="datatable table-nopadding" width="100%">
                                <colgroup>
                                    <col width="3%" />
                                    <col width="17%" />
                                    <col width="80%" />
                                </colgroup>
                                <tbody>
                                <? foreach($bus_info['subtotals'] as $total_type => $total_value): ?>
                                    <tr class="input">
                                        <td align="center" style="background-color: <?=$total_value['color'] ?>;">&nbsp;</td>
                                        <td align="center"><?=$total_value['num'] ?></td>
                                        <td align="left"><?=$total_type ?></td>
                                    </tr>
                                <? endforeach; ?>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
        </div>
    <? endforeach; ?>
    </div>
</div>