<?
$this->headTitle('Special Requirements Report');

$save_button = $this->button(array(
    'type'      => 'submit',
    'icon'      => 'disk',
    'class'     => 'large primary',
    'text'      => 'Save Notes',
));
?>

<?=$this->renderHere('special_tabs') ?>

<form action="<?=$this->routeFromHere(array('action' => 'specialnotes')) ?>" method="post">
<div class="buttons well">
    <?=$save_button ?>
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'large',
        'href'      => $this->routeFromHere(array('format' => 'csv')),
        'icon'      => 'page_white_excel',
        'text'      => 'Download to Excel',
    )) ?>
</div>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="15%">
        <col width="15%">
        <col width="40%">
        <col width="30%">
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Submitted</th>
            <th>Special Accommodations</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pager as $user): ?>
        <tr>
            <td align="left"><a href="<?=$this->route(array('module' => 'registration', 'controller' => 'view', 'action' => 'index', 'id' => $user['id'])) ?>" target="_blank" title="Click to view more information."><?=$user['lastname'] ?>, <?=$user['firstname'] ?></a></td>
            <td align="left"><?=date('m/d/Y g:ia', $user['fc_app_completed']) ?></td>
            <td align="left">
            <? foreach($user['special'] as $special_name => $special_value): ?>
                <div><b><?=$special_name ?>:</b> <?=$special_value ?></div>
            <? endforeach; ?>
            </td>
            <td align="left">
                <textarea name="notes[<?=$user['id'] ?>]" class="full-width half-height"><?=$user['specialaccommodation_notes'] ?></textarea>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>

<div class="buttons well">
    <?=$save_button ?>
</div>
</form>