<ul class="autoselect nav nav-pills" rel="<?=$this->type ?>">
<? foreach($this->types as $type_id => $type_name): ?>
	<li rel="<?=$type_id ?>"><a href="<?=$this->routeFromHere(array('type' => $type_id, 'page' => NULL)) ?>"><?=str_replace(' Registration', '', $type_name) ?></a></li>
<? endforeach; ?>
</ul>