<?
$this->headTitle('Manage Refund/Cancellation Requests');
?>

<ul class="nav nav-pills autoselect" rel="<?=$this->phase ?>">
<? foreach($this->phases as $phase_id => $phase_name): ?>
	<li rel="<?=$phase_id ?>"><a href="<?=$this->routeFromHere(array('phase' => $phase_id, 'page' => 1)) ?>"><?=$phase_name ?></a></li>
<? endforeach; ?>
</ul>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra">
	<colgroup>
		<col width="20%" />
		<col width="20%" />
		<col width="20%" />
		<col width="40%" />
	</colgroup>
	<thead>
		<tr>
			<th>Actions</th>
			<th>Date Submitted</th>
			<th>Status</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->pager as $record): ?>
		<tr class="input">
			<td class="center">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'pencil',
					'text'		=> 'Review',
					'href'		=> $this->routeFromHere(array('action' => 'review', 'code' => $record['access_code'])),
				)) ?>
			<? if ($phase != \Entity\RefundRequest::STATUS_ARCHIVED): ?>
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'delete',
					'class'		=> 'danger confirm-delete',
					'text'		=> 'Archive',
					'href'		=> $this->routeFromHere(array('action' => 'archive', 'code' => $record['access_code'])),
				)) ?>
			<? endif; ?>
			</td>
			<td align="center"><?=$record['created_at']->format('m/d/Y g:ia') ?></td>
			<td align="center"><?=$record['status_name'] ?></td>
			<td align="left"><big><?=$record['user']['firstname'] ?> <?=$record['user']['lastname'] ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>

<?=$this->paginate($this->pager) ?>