<?
$this->headtitle('Counselor Application Review');
?>

<p>You are currently reviewing as <b>Session <?=$this->session->name ?> <?=$this->camp->name ?></b>. If this is incorrect, please contact a director.</p>

<? if ($this->searchterms): ?>
	<h2>Search Results for: <?=$this->searchterms ?></h2>
<? else: ?>
	<h2>All Applicable Counselors</h2>
<? endif; ?>

<form class="form-search" action="<?=$this->routeFromHere(array('page' => NULL)) ?>" method="get">
	<input type="text" name="q" title="Search terms" placeholder="Search..." class="input-medium span3 search-query" value="<?=$this->searchterms ?>">
	<?=$this->button(array(
	    'type'		=> 'submit',
	    'class'		=> 'primary btn-small',
	    'text'		=> 'Search Counselors',
	)) ?>
</form>
<br>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra" width="100%">
	<colgroup>
		<col width="15%">
		<col width="5%">
		<col width="50%">
		<col width="15%">
		<col width="15%">
	</colgroup>
	<thead>
		<tr>
			<th>Actions</th>
			<th>Read?</th>
			<th>Counselor Name</th>
			<th>Sessions</th>
			<th>Applying For</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->pager as $user): ?>
		<tr class="input">
			<td class="center">
				<div class="buttons">
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'icon-info-sign',
						'text'		=> 'Info',
						'class'		=> 'primary fancybox fancybox.ajax',
						'href'		=> $this->routeFromHere(array('action' => 'view', 'id' => $user->id)),
					)) ?>
				</div>
			</td>
			<td class="center">
				<span style="font-size: 25px; line-height: 25px;">
				<? if (isset($this->tracking[$user->id]) && $this->tracking[$user->id]['is_read']): ?>
					<i class="icon-ok-circle"></i>
				<? else: ?>
					<i class="icon-remove-sign"></i>
				<? endif; ?>
				</span>
			</td>
			<td><big><?=$user->firstname ?> <b><?=$user->lastname ?></b></big></td>
			<td><?=$user->fc_session_preference ?></td>
			<td><?=ucfirst($user->fc_counselor_application['application_type']) ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>

<?=$this->paginate($this->pager) ?>