<?php echo $this->doctype(); ?>
<html class="full_layout">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<?php
$title_items = $this->headTitle()->getIterator();
$title = current($title_items);

if (!$this->layout()->subtitle && $this->layout()->show_subtitle)
    $this->layout()->subtitle = next($title_items);

$this->headTitle($this->config->application->name);

if (DF_APPLICATION_ENV != "production")
	$this->headTitle()->prepend('('.ucfirst(DF_APPLICATION_ENV).')');

echo $this->headTitle()->setSeparator(" - ")->toString();

$this->headLink()
	->appendStylesheet(\DF\Url::content('common/bootstrap2_r2/df-ui.css'), 'all')
	->appendStylesheet(\DF\Url::content('common/bootstrap2_r2/df-ui-responsive.css'), 'all')
	->appendStylesheet(\DF\Url::content('global.css'), 'all')
	->appendStylesheet(\DF\Url::content('common/jquery/fancybox/jquery.fancybox.css'), 'all')
	->appendStylesheet(\DF\Url::content('common/bootstrap2_r2/df-ui-printable.css'), 'print');
	
$this->headScript()
	->prependFile(\DF\Url::cdn('jquery', '1.8'))
	->appendFile(\DF\Url::content('common/jquery/fancybox/jquery.fancybox.pack.js'))
	->appendFile(\DF\Url::content('common/bootstrap2_r2/bootstrap/js/bootstrap.min.js'))
	->appendFile(\DF\Url::content('common/bootstrap2_r2/layout.js'));

echo $this->headMeta();
echo $this->headLink();
echo $this->headScript();

if ($this->config->application->analytics_code)
	echo $this->analytics($this->config->application->analytics_code);
?>
<script>
var DF_ContentPath = '<?php echo \DF\Url::content(); ?>';
</script>
</head>
<body>
<div id="body-wrapper">
	<div id="body" class="container">
		<div id="header-wrapper" class="wide-block">
			<div id="header"><div id="header-inner">
		        <div id="logo-title-site"><a href="<?=$this->route(array('module' => 'default')) ?>" title="Home"><img src="<?=$this->baseUrl() ?>/static/spacer.gif" alt="Home" /></a></div>
			</div></div>
		</div>

		<div class="navbar-wrapper">
		    <div class="navbar navbar-unloaded">
		        <div class="navbar-inner">
	                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </a>

	                <a class="brand" href="<?=$this->route(array('module' => 'default')) ?>"><?=$this->config->application->name ?></a>

	                <div class="nav-collapse">
	                    <?=$this->menu()->render(array('levels' => 2)); ?>

	                    <ul class="nav pull-right">	
						<? if ($this->auth->isLoggedIn()): ?>
						    <? $user = $this->auth->getLoggedInUser(); ?>
						    <li>
						    	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-key"></i> <?=$user->name ?></a>

								<ul class="dropdown-menu">
								<? if ($this->acl->isAllowed('access member features')): ?>
			                    	<li><a href="<?=$this->route(array('module' => 'default', 'controller' => 'profile', 'action' => 'edit')) ?>">My Profile</a></li>
			                    	<li><a href="<?=$this->route(array('module' => 'default', 'controller' => 'profile', 'action' => 'picture')) ?>">Profile Picture</a></li>
			                    	<li class="divider"></li>
		                    	<? endif; ?>
			                    <? if ($this->auth->isMasqueraded()): ?>
			                    	<li><a href="<?=$this->route(array('module' => 'account', 'controller' => 'logout', 'action' => 'endimpersonate')) ?>">Switch to Main Account</a></li>
			                    <? else: ?>
			                        <li><a href="<?=$this->route(array('module' => 'account', 'controller' => 'logout')) ?>">Log Out</a></li>
			                    <? endif; ?>
			                    </ul>
							</li>
						<? else: ?>
							<li><a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'login')) ?>"><i class="icon-key"></i> Log In</a></li>
						<? endif; ?>
						</ul>

		            <? if ($this->acl->isAllowed('manage registration')): ?>
	                    <form class="navbar-search pull-right" action="<?=$this->route(array('module' => 'registration', 'controller' => 'search')) ?>" method="GET">
	                        <input type="text" class="search-query span2" name="criteria[name]" placeholder="Search..." title="Search Users">
	                    </form>
	                <? endif; ?>
	                </div>
		        </div>
		    </div>
		</div>

		<? if ($this->placeholder('content_top')->toString()): ?>
		<div id="content_top_wrapper"><div id="content_top" class="container wide-block">
			<?=$this->placeholder('content_top')->toString() ?>
		</div></div>
		<? endif; ?>

		<div id="page_wrapper"><div id="page">
			<div>
				<?
				if (\DF\Flash::hasMessages()):
					$messages = \DF\Flash::getMessages();
					foreach($messages as $message):
				?>
					<div class="content-top-alert alert alert-<?=$message['color'] ?>" data-alert="alert">
						<a class="close" data-dismiss="alert" href="#">×</a>
						<?=$message['message'] ?>
					</div>
				<?
					endforeach;
				endif;
				?>

				<div id="content_wrapper">
					<div id="content">
					<?
					$breadcrumb = $this->breadcrumb()->render();
					if ($breadcrumb):
					?>
						<div id="breadcrumb">
							<a href="<?=\DF\Url::baseUrl() ?>/"><?=$this->config->application->name ?></a> &raquo; <?=$breadcrumb ?>
						</div>
					<? endif; ?>
						<h1 class="title"><?=$title ?></h1>
			
					<? if ($this->layout()->tabs): ?>
						<div id="content_tabs">
							<?=$this->layout()->tabs ?>
						</div>
					<? endif; ?>

					<? if ($this->layout()->subtitle): ?>
						<h2 class="title"><?=$this->layout()->subtitle ?></h2>
					<? endif; ?>

					<? if ($this->layout()->manual): ?>
						<?php echo $this->layout()->content; ?>
					<? else: ?>
						<div class="row">
							<div class="span12">
								<div class="floating">
									<div class="content_inner">
										<?php echo $this->layout()->content; ?>
									</div>
								</div>
							</div>
						</div>
					<? endif; ?>
					</div>
				</div>

				<div class="clear"></div>
				
				<div id="copyright">
					Operated by <a href="http://fishcamp.tamu.edu">Fish Camp</a> at <a href="http://www.tamu.edu/" target="_blank">Texas A&amp;M University</a><br />
            Hosted by <a href="http://studentactivities.tamu.edu/IT" target="_blank">Student Activities</a> &bull; <a href="http://studentactivities.tamu.edu/site_policies">Site Policies</a></span>
			</div>
		</div></div>
		<div id="footer">&nbsp;</div>
	</div>
</div>
</body>
</html>