<?
$this->headTitle('Manage Cabins');
?>

<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'large success',
		'href'		=> $this->routeFromHere(array('action' => 'edit')),
		'icon'		=> 'add',
		'text'		=> 'Add Cabin',
	)) ?>
</div>

<table class="table table-striped">
	<colgroup>
		<col width="35%" />
		<col width="23%" />
		<col width="2%" />
		<col width="11%" />
		<col width="5%" />
	<? foreach($this->sessions as $sess_name): ?>
		<col width="4%">
	<? endforeach; ?>
	</colgroup>
	<thead>
		<tr>
			<th>Actions</th>
			<th>Cabin</th>
			<th>&nbsp;</th>
			<th>Camp</th>
			<th>Size</th>
		<? foreach($this->sessions as $sess_name => $sess_name_long): ?>
			<th class="center"><?=$sess_name ?></th>
		<? endforeach; ?>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->cabins as $cabin): ?>
		<tr class="input">
			<td class="center">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'pencil',
					'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $cabin['id'])),
					'text'		=> 'Edit',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'delete',
					'class'		=> 'danger confirm-delete',
					'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $cabin['id'], 'csrf' => \DF\Csrf::getToken())),
					'text'		=> 'Delete',
				)) ?>
			</td>
			<td><big><?=$cabin['name'] ?></big></td>
			<td style="background-color: <?=$cabin['camp']['color'] ?>">&nbsp;</td>
			<td><?=$cabin['camp']['name'] ?></td>
			<td><?=$cabin['population'] ?></td>
		<? foreach($this->sessions as $sess_name => $sess_name_long): ?>
			<td class="center">
			<?
			$gender = strtolower($cabin['cabin_gender_'.$sess_name]);
			if ($gender == 'm')
				echo $this->icon('male');
			else if ($gender == 'f')
				echo $this->icon('female');
			else
				echo $this->icon('cross');
			?>
			</td>
		<? endforeach; ?>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>