<?
$this->headTitle('Manage Sessions');
?>

<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'large success',
		'href'		=> $this->routeFromHere(array('action' => 'edit')),
		'icon'		=> 'add',
		'text'		=> 'Add Session',
	)) ?>
</div>

<table class="table table-striped">
	<colgroup>
		<col width="30%" />
		<col width="10%" />
		<col width="30%" />
		<col width="30%" />
	</colgroup>
	<thead>
		<tr>
			<th>Actions</th>
			<th>Session</th>
			<th>Start Date</th>
			<th>End Date</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->sessions as $session): ?>
		<tr>
			<td align="center">
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'pencil',
					'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $session['id'])),
					'text'		=> 'Edit',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'delete',
					'class'		=> 'danger confirm-delete',
					'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $session['id'], 'csrf' => \DF\Csrf::getToken())),
					'text'		=> 'Delete',
				)) ?>
			</td>
			<td align="left"><?=$session['name'] ?></td>
			<td align="center"><?=date('m/d/Y', $session['startdate']) ?></td>
			<td align="center"><?=date('m/d/Y', $session['enddate']) ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>