<?
$this->headTitle($this->user->firstname.' '.$this->user->lastname.' ('.$this->user->uin.')');
?>

<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'resultset_previous',
		'text'		=> 'Back to Profile',
		'href'		=> $this->routeFromHere(array('action' => 'index')),
	)) ?>
<? if (\DF\Acl::isAllowed('manage accounting')): ?>
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'add',
		'class'		=> 'success',
        'href'      => $this->routeFromHere(array('action' => 'editledgeritem')),
		'text'		=> 'Create New Item',
	)) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => ($this->user->fc_is_cancelled) ? 'add' : 'delete',
        'text'      => ($this->user->fc_is_cancelled) ? 'Unflag as Cancelled' : 'Flag as Cancelled',
        'href'      => $this->routeFromHere(array('action' => 'togglecancelled')),
    )) ?>
<? endif; ?>
</div>

<h2>View Ledger</h2>

<table class="table table-condensed table-striped">
	<colgroup>
		<col width="3%" />
		<col width="3%" />
		<col width="3%" />
        <col width="3%" />
        <col width="3%" />
		<col width="10%" />
		<col width="15%" />
		<col width="15%" />
		<col width="17%" />
		<col width="28%" />
	</colgroup>
	<thead>
		<tr>
			<th colspan="5">&nbsp;</th>
			<th>Amount</th>
			<th>Date/Time</th>
			<th>Type</th>
			<th>Submitted By</th>
			<th>Note</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->ledger as $item): ?>
		<tr>
            <td align="center">
				<a href="#ledger_log_<?=$item['id'] ?>" class="fancybox" title="View More Info"><?=$this->icon('information') ?></a>
			</td>
		<? if (\DF\Acl::isAllowed('manage accounting')): ?>
			<td align="center">
				<a href="<?=$this->routeFromHere(array('action' => 'editledgeritem', 'item_id' => $item['id'])) ?>" title="Edit"><?=$this->icon('pencil') ?></a>
			</td>
			<td align="center">
				<a href="<?=$this->routeFromHere(array('action' => 'deleteledgeritem', 'item_id' => $item['id'])) ?>" title="Delete" class="confirm-delete"><?=$this->icon('delete') ?></a>
			</td>
            <td align="center">
                <a href="#" class="btn_transfer_item" rel="<?=$item['id'] ?>" title="Transfer Item to Another User"><?=$this->icon('arrow_switch') ?></a>
            </td>
            <td align="center">
            <? if ($item['matching_ledger']): ?>
                &nbsp;
            <? else: ?>
                <a href="<?=$this->routeFromHere(array('action' => 'refund', 'matching_item_id' => $item['id'])) ?>" title="Refund"><?=$this->icon('money_delete') ?></a>
            <? endif; ?>
			</td>
		<? else: ?>
			<td align="center" colspan="3">&nbsp;</td>
		<? endif; ?>
			<td align="right">$<?=number_format($item['amount'], 2) ?></td>
			<td align="center"><?=date('m/d/Y', $item['post_date']) ?></td>
			<td align="center"><?=ucfirst($item['type']['name']) ?></td>
			<td align="center"><?=$item['submitter'] ?></td>
			<td align="left"><?=nl2br($item['notes']) ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5">&nbsp;</td>
			<td align="right"><b>$<?=number_format($this->running_total, 2) ?></b></td>
			<td align="left" colspan="4">Net Amount Received</td>
		</tr>
	</tfoot>
</table>

<? foreach($this->ledger as $item): ?>
<div class="ledger_log" id="ledger_log_<?=$item['id'] ?>" style="display: none;">
    <fieldset>
        <legend>About Ledger Item</legend>
        
        <dl>
            <dt>Ledger Item ID#:</dt>
            <dd><?=$item['id'] ?></dd>
            
            <dt>Submitted By:</dt>
            <dd><?=$item['submitter'] ?></dd>
            
        <? if ($item['touchnet']): ?>
            <dt>TouchNet Transaction ID:</dt>
            <dd><?=$item['touchnet']['transaction_id'] ?></dd>
            
            <dt>TouchNet Tracking Number:</dt>
            <dd><?=$item['touchnet']['payment_order_id'] ?></dd>
            
            <dt>TouchNet Payment Name:</dt>
            <dd><?=$item['touchnet']['payment_name'] ?></dd>
            
            <dt>TouchNet Payment Method:</dt>
            <dd><?=$item['touchnet']['payment_card_type'] ?></dd>
        <? endif; ?>
            </dd>
        </dl>
    </fieldset>
        
    <fieldset>
        <legend>Item Action History</legend>
        
        <? if (count($item['logs']) > 0): ?>
            <? $this->zebra('reset'); ?>
            <table class="datatable">
                <colgroup>
                    <col width="20%" />
                    <col width="80%" />
                </colgroup>
            <? foreach($item['logs'] as $log): ?>
                <tr class="<?=$this->zebra() ?>">
                    <td align="center"><?=$log['created_at']->format('m/d/Y g:ia') ?></td>
                    <td align="left"><?=$log['message'] ?></td>
                </tr>
            <? endforeach; ?>
            </table>
        <? else: ?>
            <p>There are no log entries for this item.</p>
        <? endif; ?>
    </fieldset>
</div>
<? endforeach; ?>

<div id="dialog_create_item" style="display: none;">
<? if (\DF\Acl::isAllowed('manage accounting')): ?>
    <form action="<?=$this->routeFromHere(array('action' => 'addledgeritem')) ?>" method="post">
    <dl>
        <dt>Transaction Type:</dt>
        <dd><?=$this->formSelect('type', NULL, NULL, $this->ledger_item_types) ?></dd>
    </dl>
    
    <div class="buttons">
        <?=$this->button(array(
            'type' => 'submit',
            'class' => 'positive',
            'text' => 'Create Ledger Item',
            'icon' => 'add',
        )) ?>
    </div>
    </form>
<? endif; ?>
</div>

<?
/*
<div id="dialog_transfer_item" style="display: none;">
<? if (\DF\Acl::isAllowed('manage accounting')): ?>
    <form action="<?=$this->routeFromHere(array('action' => 'transfer')) ?>" method="post">
    <input type="hidden" name="ledger_id" id="transfer_item_id" value="0">
    
    <dl>
        <dt>UIN of New User:</dt>
        <dd><input type="text" name="uin" class="full-width"></dd>
        
        <dt>Reason for Transfer:</dt>
        <dd><textarea name="reason" class="full-width half-height"></textarea></dd>
    </dl>
    
    <div class="buttons">
        <?=$this->button(array(
            'type' => 'submit',
            'text' => 'Transfer Ledger Item',
            'icon' => 'arrow_switch',
        )) ?>
    </div>
    </form>
<? endif; ?>
</div>
*/ ?>