<?php
$this->headTitle('Enter Access Code');
?>
<p>Enter the access code to enable this feature.</p>

<form action="<?=\DF\Url::current() ?>" method="post">
<dl>
    <dt>Access Code:</dt>
    <dd><input type="text" name="q" class="full-width" /></dd>
</dl>

<? if ($this->is_mobile): ?>
    <input type="submit" value="Log In" />
<? else: ?>
    <div class="buttons">
        <?=$this->button(array(
            'type'      => 'submit',
            'icon'      => 'key',
            'text'      => 'Log In',
        )) ?>
    </div>
<? endif; ?>
</form>