<?
$this->headtitle('Manage Road Trips');
$this->layout()->manual = true;
?>

<div class="row">
    <div class="span12">
        <div class="floating">
            <h2>Find a Form</h2>
            
            <form action="<?=$this->routeFromHere(array('page' => NULL)) ?>" method="get">
            <dl>
                <dt>Start Date:</dt>
                <dd><?=$this->formUnixDate('start_date', (int)$this->start_date) ?></dd>

                <dt>End Date:</dt>
                <dd><?=$this->formUnixDate('end_date', (int)$this->end_date) ?></dd>
            </dl>
            
            <div class="buttons">
                <?=$this->button(array(
                    'type'		=> 'submit',
                    'icon'		=> 'find',
                    'text'		=> 'Search Forms',
                )) ?>
            </div>
            </form>
        </div>
        <div class="floating">
            <?=$this->button(array(
                'type'		=> 'small',
                'href'		=> $this->routeFromHere(array('format' => 'csv')),
                'icon'		=> 'page_white_excel',
                'text'		=> 'Export to Excel',
                'style'		=> 'float: right',
            )) ?>
            
            <h2>Results</h2>
            
            <?=$this->paginate($this->pager) ?>
            
            <table class="datatable zebra" width="100%">
                <colgroup>
                    <col width="20%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="50%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Form ID</th>
                        <th>Trip Date</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                <? foreach($this->pager as $record): ?>
                    <tr>
                        <td align="center">
                            <?=$this->button(array(
                                'type'  => 'small',
                                'icon'  => 'application_go',
                                'href'  => $this->routeFromHere(array('action' => 'view', 'id' => $record['app_id_hash'])),
                                'text'  => 'View',
                            )) ?>
                            <?=$this->button(array(
                                'type'  => 'small',
                                'icon'  => 'delete',
                                'class' => 'negative confirm-delete',
                                'href'  => $this->routeFromHere(array('action' => 'delete', 'id' => $record['app_id_hash'])),
                                'text'  => 'Delete',
                            )) ?>
                        </td>
                        <td align="center"><?=$record['app_id_hash'] ?></td>
                        <td align="center">
                        <? if ($record['index_startdate']): ?>
                            <?=date('m/d/Y', $record['index_startdate']) ?> to<br>
                            <?=date('m/d/Y', $record['index_enddate']) ?>
                        <? else: ?>
                            <small>Submitted on</small><br>
                            <?=date('m/d/Y', $record['timestamp']) ?>
                        <? endif; ?>
                        </td>
                        <td align="left">
                            <?=$record['form_data']['camp_name'] ?><br />
                            <small><?=$record['form_data']['activities'] ?></small>
                        </td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
            
            <?=$this->paginate($this->pager) ?>
        </div>
    </div>
</div>