<?
$this->headtitle('Road Trip Detail: '.$this->record['app_id_hash']);
$this->layout()->manual = true;
?>

<div class="row">
    <div class="span8">
        <div class="floating">
            <h2>Original Submission</h2>
            <?=$this->form->renderView() ?>
        </div>
    </div>
    <div class="span4">
        <div class="floating">
            <form action="<?=$this->routeFromHere(array('action' => 'setnotes')) ?>" method="post">
            <h2>Notes</h2>
            
            <dl>
                <dt>Advisor Notes:</dt>
                <dd><textarea name="notes[advisor]" class="full-width half-height"><?=$this->record['form_advisor_notes'] ?></textarea></dd>
                
                <dt>Director Notes:</dt>
                <dd><textarea name="notes[director]" class="full-width half-height"><?=$this->record['form_director_notes'] ?></textarea></dd>
            </dl>
            
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'submit',
                    'icon'      => 'disk',
                    'text'      => 'Save Notes',
                )) ?>
            </div>
            </form>
        </div>
        <div class="floating">
            <h2>Messages</h2>
            
        <? if ($this->record['messages']): ?>
            <dl>
            <? foreach($this->record['messages'] as $message): ?>
                <dt>
                    <small><?=date('m/d/Y g:ia', $message['message_timestamp']) ?></small><br>
                    <? if ($message['message_type'] == \Entity\RoadtripFormMessage::MESSAGE_FROM_ADMIN): ?>
                        Administrator Message:
                    <? else: ?>
                        Submitter Message:
                    <? endif; ?>
                </dt>
                <dd><?=nl2br($message['message_body']) ?></dd>
            <? endforeach; ?>
            </dl>
        <? else: ?>
            <p>This form has no messages.</p>
        <? endif; ?>
            
            <h3>Post New Message</h3>
            
            <form action="<?=$this->routeFromHere(array('action' => 'postmessage')) ?>" method="post">
            <dl>
                <dt>Message Text:</dt>
                <dd><textarea name="message" class="full-width half-height"></textarea></dd>
            </dl>
            
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'submit',
                    'icon'      => 'email_go',
                    'text'      => 'Send Message',
                )) ?>
            </div>
        </div>
    </div>
</div>