<?
$this->headTitle('Transaction Report');
$this->layout()->manual = TRUE;

$yesnoany = array(
	''		=> 'Any',
	'yes'	=> 'Yes',
	'no'	=> 'No',
);
?>

<form action="<?=$this->routeFromHere(array('page' => NULL, 'criteria' => NULL)) ?>" class="df-form" method="get">
<div class="row">
	<div class="span12">
		<div class="floating">
			<h2>Enter Search Criteria</h2>

			<div class="row">
				<div class="span5">
					<div class="clearfix">
						<label for="criteria[ledger_item_type_id]">Payment Type:</label>
						<?=$this->formMultiCheckbox('criteria[ledger_item_type_id]', $this->criteria['ledger_item_type_id'], NULL, $this->ledger_types) ?>
					</div>
				</div>
				<div class="span3">
					<div class="clearfix">
						<label for="criteria[payment_method]">Payment Method:</label>
						<?=$this->formMultiCheckbox('criteria[payment_method]', $this->criteria['payment_method'], NULL, $this->payment_methods) ?>
					</div>
					<div class="clearfix">
						<label for="criteria[start_date]">Start Date:</label>
						<?=$this->formUnixDate('criteria[start_date]', $this->criteria['start_date']) ?>
					</div>
					<div class="clearfix">
						<label for="criteria[end_date]">End Date:</label>
						<?=$this->formUnixDate('criteria[end_date]', $this->criteria['end_date']) ?>
					</div>
				</div>
			</div>

			<?=$this->button(array(
				'type'		=> 'submit',
				'icon'		=> 'find',
				'text'		=> 'Find Transactions',
			)) ?>
		</div>
	</div>
</div>
</form>

<? if (count($this->pager) > 0): ?>
<div class="row">
	<div class="span12">
		<div class="floating">
			<?=$this->button(array(
				'type'		=> 'small',
				'href'		=> $this->routeFromHere(array('format' => 'csv')),
				'icon'		=> 'page_white_excel',
				'text'		=> 'Export to Excel',
				'style'		=> 'float: right',
			)) ?>
			
			<h2>Search Results (<?=$this->pager->getTotalItemCount() ?> Total)</h2>
			
			<?=$this->paginate($this->pager) ?>
			
			<table class="datatable zebra">
				<colgroup>
					<col width="10%" />
	                <col width="10%" />
					<col width="10%" />
					<col width="15%" />
					<col width="15%" />
					<col width="15%" />
					<col width="10%" />
					<col width="15%" />
				</colgroup>
				<thead>
					<tr>
						<th>Ledger ID</th>
	                    <th>TouchNet ID</th>
						<th>Amount</th>
						<th>FAMIS Post Date</th>
						<th>User Name</th>
						<th>Type</th>
						<th>Payment</th>
						<th>Note</th>
					</tr>
				</thead>
				<tbody>
				<? foreach($this->pager as $item): ?>
					<tr>
						<td align="center"><a href="<?=$this->route(array('module' => 'registration', 'controller' => 'view', 'action' => 'ledger', 'id' => $item['user_id'])) ?>" target="_blank"><?=$item['id'] ?></a></td>
	                    <td align="center"><? if ($item['touchnet']): ?><?=$item['touchnet']['payment_order_id'] ?><? else: ?>N/A<? endif; ?></td>
						<td align="right">$<?=number_format($item['amount'], 2) ?></td>
						<td align="center"><?=date('m/d/Y g:ia', $item['post_date']) ?></td>
						<td align="left"><?=$item['user']['firstname'] ?> <?=$item['user']['lastname'] ?></td>
						<td align="center"><?=ucfirst($item['type']['name']) ?></td>
						<td align="center"><?=ucfirst($item['payment_method']) ?></td>
						<td align="left"><?=nl2br($item['notes']) ?></td>
					</tr>
				<? endforeach; ?>
				</tbody>
			</table>
			
			<?=$this->paginate($this->pager) ?>
		</div>
	</div>
</div>
<? endif; ?>